<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää elokuva</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää elokuva</h1>
	<div>
	<form th:object="${elokuva}" th:action="@{save}" action="#" method="post">
	<label for="nimi">Nimi</label>
	<input type="text" id="nimi" th:field="*{nimi}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="kesto">Kesto</label>
	<input type="text" id="kesto" th:field="*{kesto}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	<label for="vuosi">Vuosi</label>
	<input type="text" id="vuosi" th:field="*{vuosi}"/>
	<div style="clear: both; display: block; height: 10px;"></div>
	
	<label for="katlista">Kategoria</label>
	<select id="katlista" th:field="*{kategoria}" class="form-control">
	<option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoriaid}" th:text="${kategoria.kategoriaNimi}"></option>
	</select>
	
	<div style="clear: both; display: block; height: 10px;"></div>
	<input type="submit" value="Save"></input>
	</form>
	
	</div>
	
</body>
</html>